doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body#top
		include includes/header.pug
		section.hero#hero
			.left-wrapper
				.upper
					h1 Quisque laoreet
						br
						span.bold.uc Efficitur
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis maximus urna. Duis tempor pretium massa, ut placerat mauris commodo id proin nec libero semp
					h2 Ipsum sagittis facilisis.
				.lower
					h2 Proin Makesuada Arcu
					h3.bold.uc.red Condimentum
			.right-wrapper
				.banner-img
					.ar
		section.about#about
			.para-wrapper
				.para-img.js-parallax
				.content
					h2.lt-ital Mauris suscipit pharetra
					h3.bold.uc Cras, eleifend & libero
					p.lt-ital usce laoreet ullamcorper lacus, ut condimentum risus egestas quis.
			.three-col
				.col
					span.icon-tools
					h3.title cras
					p Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse quis justo vitae libero scelerisque consequat vel sit amet ex.	Suspendisse porta sapien sed.
				.col
					span.icon-key
					h3.title eleifend
					p Nam aliquam mattis ante, non mollis risus sollicitudin sit amet. Etiam egestas eu est ac venenatis. Donec malesuada nibh sapien, posuere ultrices dui consequat a. Praesent et metus a metus consectetur semper ut vestibulum.
				.col
					span.icon-options
					h3.title libero
					p Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse quis justo vitae libero scelerisque consequat vel sit amet ex.	Suspendisse porta sapien sed.
		section.cta#cta
			.two-col
				.col
					h4 Praesent metus
					p Pellentesque faucibus fermentum tellus, ut vulputate sapien blandit et. Nullam posuere magna massa, sit amet maximus neque facilisis quis. Donec dictum, orci condimentum sollicitudin suscipit, dui ipsum posuere
				.col.gray-bg
					h4 Duis vulputate
					p.bold mauris sit amet rhoncus, maurs
			.para-wrapper
				.para-img.js-parallax
				.content
					p.bold-ital Fusce laoreet ullamcorper lacus, ut condimentum risus egestas quis. Proin nliquet sapien interdum feugiat facilisis. Cras commodo sapien in arcu.
		include includes/footer.pug