//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
ul.menu.bottom
	li
		a(href="#top") Home
	li
		a(href="#hero") About us
	li
		a(href="#about") Our Solutions
	li
		a(href="#cta") Contact Us
